<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CustomBinding_MNBArfolyamServiceSoap" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
                <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.mnb.hu/arfolyamok.asmx" binding="basicHttpBinding"
                bindingConfiguration="CustomBinding_MNBArfolyamServiceSoap"
                contract="MnbSoap.MNBArfolyamServiceSoap" name="CustomBinding_MNBArfolyamServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>